<li>
  <%= gravatar_for user%>
  <%= link_to user.name, user %>
  <% if current_user.try(:admin?) && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                    data:{ confirm: "Are you sure you want to delete? This is not reversible."} %>
  <% end %>
</li>